<mat-card class="checkout-card" fxLayout="column" fxLayoutAlign="space-between">
	<div fxLayout="column" fxLayoutAlign="space-between">
		<mat-card-title>
			<p>Checkout</p>
    </mat-card-title>
    <div class="added-items" *ngIf="basket?.length; else EmptyBasket">
    	<p *ngFor="let item of basket">1 {{ item.name }}{{ item.imported ? " (imported)" : "" }}: {{ item.price | currency }}</p>
    	<div>
	    	<button mat-raised-button aria-label="Submit" (click)="onSubmit()" [disabled]="isPaid">Submit</button>
	    	<button mat-raised-button aria-label="Reset" (click)="onReset()">Reset</button>
		  </div>
    </div>
	  
	</div>
</mat-card>

<mat-card *ngIf="isPaid" class="receipt-card" fxLayout="column" fxLayoutAlign="space-between">
	<div fxLayout="column" fxLayoutAlign="space-between">
		<mat-card-title>
			<p>Your receipt</p>
    </mat-card-title>
    <div class="added-items">
    	<p *ngFor="let item of basket">1 {{ item.name }}{{ item.imported ? " (imported)" : "" }}: {{ productService.getPriceWithTaxes(item) | currency }}</p>
    	<p>Sales Taxes: {{ productService.getSalesTaxes(basket) | currency }}</p>
    	<p>Total: {{ productService.getTotalPrice(basket) | currency }}</p>
    </div>
	</div>
</mat-card>

<ng-template #EmptyBasket>
  <p>Your basket is empty</p>
</ng-template>