.product-card {
	width: 175px;
	height: 190px;

	.product-image {
		width: 30%;
		margin-left: 10px;

		img {
			width: 100%;
		}
	}

	.product-info {
		width: 70%;

		mat-card-subtitle p {
			margin: 0;
		}

		p {
			text-overflow: ellipsis;
    	overflow: hidden;
		}
	}
}
